## Download GRDC Data

Scan GRDC Station Catalogue, and find stations pass the following criteria:

1. `lon` is between -1.1 and 18.4 degrees
2. `lat` is between 44.1 and 56.5
3. `t_end` is 2023

In [1]:
from py_env_hpc import *
!pip install openpyxl

In [56]:
# read the data from the Excel file
df = pd.read_excel(GRDC_DIR+'/GRDC_Stations.xlsx')

# filter the data based on the criteria
filtered_df = df[(df['long'].between(-1.1, 18.4)) & 
                 (df['lat'].between(44.1, 56.5)) & 
                 (df['t_end'] >= 2020) & 
                 (df['country'] == "DE")]

# print the station numbers that meet the criteria
len(filtered_df['grdc_no'])

2

In [58]:
filtered_df

,grdc_no,wmo_reg,sub_reg,river,station,country,lat,long,area,altitude,...,m_start,m_end,m_yrs,m_miss,t_start,t_end,t_yrs,lta_discharge,r_volume_yr,r_height_yr
8745,6335170,6,6351,RHINE RIVER,SPEYER,DE,49.323807,8.448717,53131.0,88.52,...,NaN,NaN,NaN,NaN,1950,2020,71,1268.329,39.998023,752.818945
8747,6335180,6,6351,RHINE RIVER,WORMS,DE,49.641120,8.376019,68827.0,84.16,...,NaN,NaN,NaN,NaN,1930,2020,91,1409.172,44.439648,645.67173